<div>
    <div class="col-md-12">

        <ul class="list">
            <li>
                <a routerLink="debounce&distint">Debounce & Distint</a>
            </li>
            <li>
                <a routerLink="map">Map </a>
            </li> 
            <li>
                <a routerLink="tap">Tap</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="mergemap">Merge</a>
            </li>
            <li>
                <a routerLink="concatmap">Concat</a>
            </li>    
            <li>
                <a routerLink="concatmap">Concat</a>
            </li>
            <li>
                <a routerLink="concatmap">Concat</a>
            </li>
            
        </ul>

    </div>
</div>